[graph]
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "aarch64-unknown-linux-musl" },
]

[advisories]
ignore = []

[bans]
multiple-versions = "deny"
deny = [
]
skip = [
    # Major bump in thiserror, should be migrated eventually, very common, testcontainers everpresent with old deps
    { name = "getrandom", version = "=0.2.16"},

]

[sources]
allow-git = [
]

[licenses]
confidence-threshold = 1.0
allow = [
    "Apache-2.0",
    "BSD-3-Clause",
    "MIT",
    "Unicode-3.0",
    "Unlicense",
]
exceptions = [
    { name = "webpki-roots", allow = ["CDLA-Permissive-2.0"]},
    { name = "rustls-webpki", allow = ["ISC"]},
    { name = "untrusted", allow = ["ISC"]},
    { name = "ring", allow = ["Apache-2.0", "ISC"]},
]

